@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Roboto&family=Roboto+Slab&display=swap');
@import url('keyframes.css');
@import url('root.css');

/* font-family: 'Encode Sans SC', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Slab', serif; */


/*SET DEFAULTS*/
/*CLEAR MARGIN AND PADDING*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--defaultFont);
    background-color: var(--secondaryColor);
    color: var(--defaultColor); /*highlight then changes to default when scrolled*/
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--impactFont);
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

/* clear links */
a:link, a:active, a:visited, a:hover {
    color: var(--defaultColor);
    text-decoration: none;
}

/*COMBINED PROPS*/
/* flex column */
main, #personal_profile, .row_container, .img_container, #title, footer, #contact_nav a {
    display: flex;
    flex-direction: column;
}

/* flex row */
.project_row, nav, header {
    display: flex;
    flex-direction: row;
}

/* align center */
main, #personal_profile, .row_container, header {
    align-items: center;
}

/*justify center */
nav, #title, .img_container {
    justify-content: center;
}

/*global padding*/
#personal_profile, #project_container {
    padding: var(--globalPad);
}

/*global margin*/
.project_row, .big_p, nav a {
    margin: var(--globalMar);
}

/*CENTER*/
#container, main, footer, #contact_container {
    margin: 0px auto;
}

/*BORDER BOTTOM*/
h3, nav a, #about {
    border-bottom: 2px solid var(--defaultColor);
}

/*BORDER TOP*/
.big_p, footer h2, h3 {
    border-top: 2px solid var(--defaultColor);
}

/*LIGHT BLUE FONT*/
/*ONLY ID's so it can ovveride text*/
#scrolling_title, #info_bar {
    color: var(--highlight);
}

/*CHILDREN OF CONTAINER*/
/*HEADER*/

header {
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
    height: 10em;
    width: 100%;
    align-items: flex-start;
}
/*add js script that has the nav appear when you load
but defaults to 0 opacity otherwise*/
    nav a:hover {
        opacity: 1;
        transition: 250ms;
    }

    header img {
        height: 50px;
        width: auto;
        margin: var(--globalMar);
    }

    nav a {
        font-family: var(--impactFont);
        font-size: 1.5em;
    }

        nav a:hover {
            transform: translateY(-.2em);
            border-bottom: 2px solid var(--tertiaryColor);
            transition: 250ms;
            color: var(--highlight);
        }

/*MAIN COMPONENTS*/
main, footer, #contact_container {
    max-width: 1444px;
}

/*PERSONAL PROFILE*/

#personal_profile {
    margin-top: 4em;
}

#personal_profile, #project_container, #contact_container {
    width: 85%;
}

/*TITLE SECTION*/
#title {
    text-align: center;
    text-shadow: .025em .025em 0 var(--tertiaryColor);
    height: 30em;
    width: 85%;

    background-image: url('../img/tv_noise_reduce.gif');
    background-position-x: center;
    background-size: cover;

    -moz-box-shadow:    inset 0 1em 1em #000000;
    -webkit-box-shadow: inset 0 1em 1em #000000;
    box-shadow:         inset 0 1em 1em #000000;

    -webkit-animation: blackFadeInOut 5s infinite; /* Safari 4+ */
    -moz-animation:    blackFadeInOut 5s infinite; /* Fx 5+ */
    -o-animation:      blackFadeInOut 5s infinite; /* Opera 12+ */
    animation:         blackFadeInOut 5s infinite; /* IE 10+, Fx 29+ */

}


    #title h1 {
        font-size: 7em;
        background-color: rgba(0, 0, 0, 0.1);

        -webkit-animation: textFlicker 5s infinite; /* Safari 4+ */
        -moz-animation:    textFlicker 5s infinite; /* Fx 5+ */
        -o-animation:      textFlicker 5s infinite; /* Opera 12+ */
        animation:         textFlicker 5s infinite; /* IE 10+, Fx 29+ */
    }

    #scrolling_title {
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.1);

        -webkit-animation: textFlicker 5s infinite; /* Safari 4+ */
        -moz-animation:    textFlicker 5s infinite; /* Fx 5+ */
        -o-animation:      textFlicker 5s infinite; /* Opera 12+ */
        animation:         textFlicker 5s infinite; /* IE 10+, Fx 29+ */
    }

    .big_p {
        font-size: 2em;
        font-family: var(--secondaryFont);
        text-indent: 2em;
        padding: var(--globalPad) 0;
    }

/*ABOUT SECTION*/
#about a:hover {
    color: var(--highlight);
}


/*PROJECT SECTION*/
/*ALL BORDER TOPS ARE H3S*/
h2 {
    font-size: 4em;
    text-align: center;
}

    #project_container h2 {
        margin-bottom: 1em;
    }

.project_row {
    text-align: center;
}

    .project_row:nth-child(2) {
        flex-direction: row-reverse;
    }

        /* .project_row:nth-child(2) p {
            text-align: right;
        } */

    .img_container {
        width: var(--largeIMG);
        height: var(--largeIMG);
        opacity: 75%;
        border: 1px solid var(--defaultColor);
        border-radius: var(--roundEdge);
        /* background-color: var(--dampen); */
    }

        .img_container img {
            width: var(--largeIMG);
            object-fit: scale-down;
            border-radius: var(--roundEdge);
        }

        .img_container p {
            display: none;
        }

    .project_content {
        margin: 0px var(--globalMar);
    }

        .project_content p {
            margin-top: .5em;
            text-indent: 1em;
            text-align: left;
        }

        .project_content nav a {
            font-size: 2em;
        }


/* FOOTER */
footer h2 {
    margin-right: .5em;
    margin-left: .5em;
    padding-top: 1em;
    padding-bottom: .5em;
}

.copy {
    font-size: 100%;
    margin: 4em;
    text-align: right;
}

/*CONTACT NAV*/
    #contact_nav a {
        width: 72px;
        height: 72px;
        border: none;
    }

    #contact_nav a:hover {
        transform: scale(90%);
        transition: 250ms;
    }

    /*IMAGES AND HOVER EFFECTS*/
        #phone_number {
            background-image: url('../img/phone_bw.png');
        }
            #phone_number:hover {
                background-image: url('../img/phone_color.png');
            }

        #email {
            background-image: url('../img/gmail_bw.png');
        }
            #email:hover {
                background-image: url('../img/gmail_color.png');
            }

        #github {
            background-image: url('../img/github_bw.png');
        }
            #github:hover {
                background-image: url('../img/github_color.png');
            }

        #linkedin {
            background-image: url('../img/linkedin_bw.png');
        }
            #linkedin:hover {
                background-image: url('../img/linkedin_color.png');
            }

        #phone_number, #email, #github, #linkedin {
            background-size: cover;
        }    

    #info_bar {
        text-align: center;
    }

/*ALL MEDIA QUERIES*/
/*SMALL WINDOW DISPLAY*/
@media only screen and (max-width: 1080px) {
    .project_row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .img_container {
        width: var(--largerIMG);
        height: 1em;
        border: none;
        overflow: hidden;
        margin-top: 2em;
        opacity: 50%;
        cursor: pointer;
        text-indent: 1em;
        font-family: var(--impactFont);
    }

    .img_container img {
        width: var(--largerIMG);
    }

    .img_container p {
        text-align: left;
        display: inline-block;
        position: absolute;
        background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    }
    
    /*change this to a javascript on click*/
        .img_container:hover, .img_container:active {
            height: var(--largerIMG);
            opacity: 100%;
            transition: 250ms;
            text-indent: -9999px;
        }

    .project_row:nth-child(2) {
        flex-direction: column-reverse;
    }

    .project_content {
        border-bottom: 2px solid var(--defaultColor);
    }
}

/*PHONE DISPLAY*/
@media only screen and (max-width: 748px) {
    /*FONT SIZES*/
    h1, h2, h3, h4, h5, h6 {
        font-size: 2em;
    }
    p, nav a, #scrolling_title {
        font-size: .85em;
    }

    #title h1 {
        font-size: 3em;
    }

    .project_content nav a {
        font-size: 1.25em;
    }

    .big_p, header nav a {
        font-size: 1em;
    }

    h2 {
        font-size: 2.5em;
    }

    .img_container {
        width: var(--largeIMG);
    }

    header {
        padding: 10px;
        height: 5em;
    }

    header img {
        height: 26px;
    }

    /*IMG CONTAINER*/
    .img_container img {
        max-width: var(--largeIMG);
    }

    .img_container:hover, .img_container:active {
        height: var(--largeIMG);
        opacity: 100%;
        transition: 250ms;
        text-indent: -9999px;
    }

    #contact_nav a {
        width: 40px;
        height: 40px;
        border: none;
    }

    #title {
        height: 20em;
    }

    /*no hover - change to color*/
        #phone_number {
            background-image: url('../img/phone_color.png');
        }
        #email {
            background-image: url('../img/gmail_color.png');
        }
        #github {
            background-image: url('../img/github_color.png');
        }
        #linkedin {
            background-image: url('../img/linkedin_color.png');
        }

    header img, header nav a {
        margin: .5em;
    }

    /*change links*/
    header nav a, main nav a {
        border-bottom: 2px solid var(--tertiaryColor);
    }

    #about a {
        color: var(--highlight);
    }
}