/*import Roboto and Encode*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Roboto&family=Roboto+Slab&display=swap');
/*font-family: 'Encode Sans SC', sans-serif;*/
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Slab', serif; */

/* GLOBAL VARIABLES */
:root {
    /*color scheme*/
    --defaultColor: white;
    --secondaryColor: black;
    --tertiaryColor: grey;
    --impactLight: black;
    --dangerDark: black;
    --dangerLight: black;
    --highlight: rgb(99, 53, 184);
    --dampen: rgba(255, 255, 255, 0.25);
    /* sizes */
    --tinyEdge: 5px;
    --roundEdge: 10px;
    --rounderEdge: 25px;
    --globalMar: 1em;
    --globalPad: 1em;
    --largeIMG: 424px;
    --medIMG: 276px;
    /*fonts*/
    --defaultFont: 'Roboto', sans-serif;
    --impactFont: 'Encode Sans SC', sans-serif;
    --secondaryFont: 'Roboto Slab', serif;
}


/*SET DEFAULTS*/

/*clear margin and padding*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--defaultFont);
    background-color: var(--secondaryColor);
    color: var(--defaultColor);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--impactFont);
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

/* clear links */
a:link, a:active, a:visited, a:hover {
    color: var(--defaultColor);
    text-decoration: none;
}

/*COMBINED PROPS*/
/* flex column */
main, #personal_profile, .small_container, .img_container {
    display: flex;
    flex-direction: column;
}

/* align center */
main, #personal_profile, .small_container {
    align-items: center;
}

/* flex row */
.project_row, nav {
    display: flex;
    flex-direction: row;
}

/*justify center */
nav, .img_container {
    justify-content: center;
}

/*global padding*/
#personal_profile {
    padding: var(--globalPad);
}

/*global margin*/
.project_row, #personal_profile p, nav a {
    margin: var(--globalMar);
}

/*CONTAINER*/
#container {
    margin: 0px auto;
    max-width: 1444px;
}

/*CHILDREN OF CONTAINER*/
/*HEADER*/
nav a {
    font-family: var(--impactFont);
    font-size: 1.5em;
    border-bottom: 2px solid var(--defaultColor);
}

    nav a:hover {
        transform: translateY(-.1em);
        border-bottom: 2px solid var(--highlight);
        transition: 250ms;
    }

/*MAIN COMPONENTS*/

/*PERSONAL PROFILE*/

#personal_profile, #project_container {
    width: 85%;
}

/*TITLE SECTION*/
#title {
    text-align: center;
    text-shadow: .025em .025em 0 var(--highlight);
}
    #title h1 {
        font-size: 7em;
    }
    #title h4 {
        font-size: 1em;
    }

    #personal_profile p {
        font-size: 2em;
        font-family: var(--secondaryFont);
        text-indent: 2em;
    }

/*PROJECT SECTION*/
/*ALL BORDER TOPS ARE H3S*/
h2 {
    font-size: 4em;
    margin-left: .25em;
}

h3 {
    border-top: 2px solid var(--defaultColor);
    border-bottom: 2px solid var(--defaultColor);
}

.project_row {
    text-align: center;
}

    .project_row:nth-child(2) {
        flex-direction: row-reverse;
    }

    .img_container {
        width: var(--largeIMG);
        height: auto;
        opacity: 75%;
        background-color: var(--dampen);
    }

        .img_container img {
            width: var(--largeIMG);
            object-fit: scale-down;
        }

    .project_content {
        margin: 0px var(--globalMar);
    }