/*import Roboto and Encode*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Roboto&display=swap');
/*font-family: 'Encode Sans SC', sans-serif;*/
/* font-family: 'Roboto', sans-serif; */

/* GLOBAL VARIABLES */
:root {
    /*color scheme*/
    --defaultColor: white;
    --secondaryColor: black;
    --tertiaryColor: grey;
    --impactLight: black;
    --dangerDark: black;
    --dangerLight: black;
    --highlight: rgb(41, 0, 117);
    /* sizes */
    --tinyEdge: 5px;
    --roundEdge: 10px;
    --rounderEdge: 25px;
    --globalMar: 1em;
    --globalPad: 1em;
    /*fonts*/
    --defaultFont: 'Roboto', sans-serif;
    --impactFont: 'Encode Sans SC', sans-serif;
}

/*SET DEFAULTS*/
body {
    width: 100%;
    height: 100%;
    font-family: var(--defaultFont);
    background-color: var(--secondaryColor);
    color: var(--defaultColor);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--impactFont);
}

a:link, a:active, a:visited, a:hover {
    color: var(--defaultColor);
    text-decoration: none;
}

/* PULSATING TITLE*/
h1 {
    font-size: 7em;
    text-align: center;

    -webkit-animation: focus 5s linear;
    -moz-animation: focus 5s linear;
    -ms-animation: focus 5s linear;
    -o-animation: focus 5s linear;
    animation: focus 5s linear;

    text-shadow: .025em .025em 0 var(--highlight);
}

@keyframes focus {
    0% { text-shadow: 0 0 5em var(--highlight); }
    50% { text-shadow: 0 0 2em var(--highlight); }
    100% { text-shadow:  .025em .025em 0 var(--highlight); }
}

@-webkit-keyframes focus {
    0% { text-shadow: 0 0 5em var(--highlight); }
    50% { text-shadow: 0 0 2em var(--highlight); }
    100% { text-shadow:  .025em .025em 0 var(--highlight); }
}

/*COMBINED PROPS*/
/* flex column */
/* flex row */
/*global padding*/
/*global margin*/
/*tiny edge*/

/*CONTAINER*/
#container {
    margin: 0px auto;
    max-width: 1444px;
}

/*CHILDREN OF CONTAINER*/
/*HEADER*/
/*CANVAS*/
#canvas {
    width: 100%;
    height: 7rem;
}

/*MAIN COMPONENTS*/